<%- include("../partical/header", { title: "Kết quả" }) %>

<h2>Kết quả</h2>
<p>Điểm: <b><%= result.score %></b></p>
<p>Đúng: <%= result.correctCount %> / <%= result.total %></p>

<a href="/subjects">Quay lại danh sách môn</a>

<%- include("../partical/footer") %>



